.container {
  display: flex;
  gap: 10px;
  padding: 0 20px;
  overflow: scroll;
}

.container::-webkit-scrollbar {
  display: none;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.card img {
  height: 300px;
  object-fit: contain;
}

.align {
  text-align: center;
}

.icon:hover {
  color: burlywood;
}
